labs/lab-01-reloj-analogico/reloj_analogico
labs/lab-07-proyecciones-3d/proyecciones_3d
extras/calculo-vectorial-figura-1/figura_1
**/report/*.aux
**/report/*.fdb_latexmk
**/report/*.fls
**/report/*.log
**/report/*.out
**/report/*.toc
